/* Style for the entire passcode screen */
.enter-passcode-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1c1e; /* Same background color as the main page */
    z-index: 3; /* Place it above the main content */
    text-align: center;
}

.enter-title {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    left: 50%; /* Place it at the horizontal center */
    transform: translateX(-50%); /* Adjust to center horizontally */
}

.enter-title-sub {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.cancel-button {
    color: #1385f7;
    font-size: 20px;
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.passcode-input {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: flex-start; /* Align to the top */
    height: 100%;
    margin-top: 60%; /* Adjust the margin to position slightly higher */
}

.passcode-input p {
    font-size: 18px;
    margin-top: 10px; /* Adjust the margin to position slightly higher */
}

.passcode-digits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; /* Adjust the margin to position slightly higher */
}


.digit {
    width: 20px; /* Adjust the width */
    height: 20px; /* Adjust the height */
    background-color: transparent; /* No fill color */
    border: 2px solid #ffffff; /* Border color */
    border-radius: 50%; /* Make it a circle */
    margin: 15px; /* Adjust the spacing between circles */
}

/* Style for filled passcode digit circles */
.digit.filled {
    background-color: #ffffff; /* Fill color for filled circles */
    border: 2px solid transparent; /* No border for filled circles */
}

.keyboard {
    background-color: #595959; /* Gray background color */
    width: 100%; /* Make the keyboard 100% width of the screen */
    position: fixed; /* Fixed positioning */
    bottom: 0; /* Position it at the bottom of the screen */
    left: 0; /* Align it to the left edge */
    z-index: 3; /* Place it above other content */
    display: inline-block; /* Make the keyboard container inline-block */
    padding-bottom: 15%;
}

.keyboard-row {
    display: flex;
    justify-content: center;
}

/* Style the keyboard keys */
.keyboard-key {
    width: 125px; /* Adjust the width */
    height: 50px; /* Adjust the height */
    background-color: #8b8b8b; /* Change the key color */
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px; /* Add rounded corners */
    position: relative; /* Ensure proper positioning of letter-values */
}

.key-non-used {
    background-color: transparent;
}

/* Style the backspace key */
.keyboard-key.backspace {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style the backspace icon */
.keyboard-key.backspace img {
    width: 28px;
    height: 28px;
}

/* Style the key-value (number) */
.keyboard-key .key-value {
    position: absolute;
    bottom: 15%; /* Adjust the vertical position for the number */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
}

/* Style the letter-values */
.keyboard-key .letter-values {
    font-size: 12px; /* Adjust the font size */
    color: #ffffff; /* Text color for letter-values */
    position: absolute;
    top: 25%; /* Adjust the vertical position for the letters */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
}

/* Adjust the positioning of the letters for keys with no letter-values */
.center-key-value .key-value {
    bottom: 50%; /* Adjust the vertical position for the letters */
    transform: translate(-50%, 50%); /* Center horizontally and align to the bottom */
}