@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222222;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.container {
    text-align: center;
}

.hourglass {
    width: 85px;
    height: 85px;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
}

.hourglass img {
    width: 100%;
    height: auto; /* Maintains aspect ratio */
}

h1, p {
    margin: 0;
}

.buttons-container {
    position: absolute;
    bottom: 30px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#okButton {
    padding: 15px 80px;
    font-size: 20px;
    margin: 10px;
    background-color: #0b84fe;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.title {
    /* Your CSS styles for the paragraph here */
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    /* Add any other styles you want */
}

.app-name {
    /* Your CSS styles for the paragraph here */
    font-size: 20px;
    /* Add any other styles you want */
    margin: 5px 0; /* Add some margin between paragraphs */
}

.ask-for{
    /* Your CSS styles for the paragraph here */
    color: #1385f7;
    font-size: 20px;
    /* Add any other styles you want */
}

/* CSS for the overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 14, 14, 0.5); /* Semi-transparent black overlay */
    z-index: 1; /* Place the overlay above other content */
}

/* Add a class to show the overlay when the menu is open */
.overlay.show {
    display: block;
}